$white_background_color:	#ffffff;
$site_background_color:		#ffffff;
$highlight_color:			#ffff00;
$note_background_color:		#ffffcf;
$background_color_lighter:	#CCCCCC;
$background_color_light:	#EAEAEA;
$background_color_pale:		#FAFAFA;

$tab_color:					#EEEEEE;
$tab_color_text:			#777777;
$tab_color_hover:			#F7F7F7;
$tab_color_hover_text:		#333333;
$tab_color_current:			#FAFAFA;
$tab_color_current_text:	#000000;
$tab_color_hot:				#FFDFF7;
$tab_color_hot_text:		#000000;
$tab_color_hot_hovertext:	#FF0000;

$background_color_positive: #CFFFCD; /*#40FF70;*/

$text_color:				#6F7D7A;
$text_color_light:			#666666;
$text_color_pale:			#AAAAAA;
$text_color_dark:			#333333;
$text_color_inverse:		#FFFFFF;
$text_color_black:			#000000;
$text_color_error:			#B40000;
                        
$placeholder_color:			#CCCCCC;
                        
$alert_background_color:	#FFFFCF;
$alert_border_color:		#FFD700;
$info_background_color: 	#ADD8E6;
$info_border_color:			#000080;
$error_border_color:		#FF0000;
                        
$border_color:				#ADB0B2;
$border_color_light:		#D1D4D5;
$border_color_dark:			#333333;
$border_color_darker:		#999999;
$border_color_inverse:		#FFFFFF;
                        
$people_color: 				#e45324;
$questions_color: 			#d3137d;
$insights_color: 			#47a355;
$blogs_color: 				#43a7af;
$converations_color:		#9d96b9;
$surveys_color: 			#e7b13f;
$reports_color: 			#c9423c;
                        
$hot_link_color:			#e45324;
$cool_link_color:			#28A8DF;
$dull_link_color:			#D0D4D3;

$post_comment_background_color:				#ECEADC;
$dark_translucent_overlay_color:			rgba(0,0,0,0.7);

$pagination_item_background_color: 			#EEEEEE;
$pagination_item_border_color: 				#DDDDDD;
$pagination_item_hover_background_color: 	#45B0F0;
$pagination_item_hover_border_color: 		#003366;

$admin_nav_background_color:				#EEEEEE;
$admin_nav_background_color_selected:		#00ACED;
$admin_nav_text_color:						#333333;
$admin_nav_text_color_selected:				#FFFFFF;