/* Corner radius */
.corner-tl-5 { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; }
.corner-tr-5 { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
.corner-bl-5 { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; }
.corner-br-5 { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.corner-top-5 { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
.corner-bottom-5 { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.corner-right-5 {  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.corner-left-5 { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; }
.corner-all-5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.corner-all-10 { -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.corner-all-15 { -moz-border-radius: 15px; -webkit-border-radius: 15px; }
.corner-all-20 { -moz-border-radius: 20px; -webkit-border-radius: 20px; }
.corner-all-3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; }